img {
    width: 100%;
    height: auto;
}
.recipe .image-wrapper{
    position: relative;
}
.recipe .image-wrapper .recipe-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background-color: #ededed;
}